@media screen and (max-device-width: 460px){
     body{
          font-family:'roboto','shrinkand',curve,Arial, sans-serif;
     }

     .logo{
     font-family:'Shrikhand';
     text-align: center;
     }
}
