@mixin center{
    text-align: center;
    margin:auto;    
}
@mixin smallpadding{
    padding :10px;
}
@mixin padding{
    padding :20px;
}
@mixin largepadding{
    padding :40px;
}
@mixin topbotmargin{
    margin-top: 20px;
    margin-bottom: 20px;
}
@mixin botboxshadow {
    box-shadow: 5px 5px 5px darken($mainbgcolor,15%);
}

@mixin btnmainshape{
    font-size: 1rem;
    font-weight: bold;
    width: 80%;
    border-radius:30px;
    border:transparent;
    cursor: pointer;
}

@mixin brightbtncolor{
    background: linear-gradient(to bottom right, $secondarycolor,45%,$primarycolor);
    color: $white;
}

@mixin mainbtncolor{
    background: $white;
    color: black;
}

@mixin card{
    background-color: $white;
    overflow: hidden;
    width: 100%;
    position:relative;
    z-index:1;
}

@mixin shadowhover{
    box-shadow:0.25rem 0.25rem 0.25rem 0.25rem darken($mainbgcolor,25%);
}
@mixin hoveractionbutton {
    &:hover{
          @include shadowhover;
          filter: brightness(110%);
        }
    
}


