@mixin center{
    text-align: center;
    margin:auto;    
}
@mixin smallpadding{
    padding :10px;
}
@mixin padding{
    padding :20px;
}
@mixin largepadding{
    padding :40px;
}
@mixin topbotmargin{
    margin-top: 20px;
    margin-bottom: 20px;
}
@mixin botboxshadow {
    box-shadow: 5px 5px 5px darken($mainbgcolor,15%);
}

