/*mise en forme page d'accueil*/
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.heading, .restaurants, .meal__btn, .nav__btn {
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
}

body {
  font-family: "roboto", "shrinkand", Arial, sans-serif;
  font-size: medium;
  width: 100%;
  margin: 0 auto;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.headlogo {
  font-family: "Shrikhand";
  font-size: 1.3em;
  text-align: center;
  margin: auto;
}

.location {
  background-color: #e9e9e9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bold;
}

i {
  padding: 10px;
}

.heading, nav, .restaurants {
  padding: 20px;
}

.heading {
  text-align: center;
  margin: auto;
}

.heading__title {
  font-size: 1.5em;
  padding: 10px;
  font-weight: bold;
}

.heading__description {
  font-size: 1.2rem;
  padding: 10px;
}

.heading__btn, .order .order__btn {
  font-size: 1rem;
  font-weight: bold;
  width: 80%;
  border-radius: 30px;
  border: transparent;
  cursor: pointer;
  background: linear-gradient(to bottom right, #FF79DA, 45%, #9356DC);
  color: #fff;
  box-shadow: 5px 5px 5px #d0d0d0;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
ul .list__number {
  background-color: #9356DC;
  border-radius: 50%;
  padding: 10px 15px;
  font-weight: bold;
  color: #fff;
  position: relative;
  left: 15px;
}
ul .nav__btn {
  font-size: 1rem;
  font-weight: bold;
  width: 80%;
  border-radius: 30px;
  border: transparent;
  cursor: pointer;
  box-shadow: 5px 5px 5px #d0d0d0;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
ul .nav__btn:hover {
  background-color: #f2eafb;
  box-shadow: 7px 7px 7px 7px #c8c8c8;
}
ul .nav__btn:hover i {
  color: #9356DC;
}

.restaurants__title {
  padding: 10px;
}

.restaurants__card, .headingresto {
  background-color: #fff;
  border-radius: 25px;
  overflow: hidden;
  width: 100%;
  max-height: 300px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  box-shadow: 5px 5px 5px #d0d0d0;
}

.card__img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  z-index: 0;
}

.card__new {
  width: 80px;
  text-align: center;
  font-weight: bold;
  background-color: #99E2D0;
  color: #278870;
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 10%;
  right: 5%;
}

.card__description, .headingresto__text {
  color: black;
  display: flex;
  flex-flow: row;
  line-height: 1.5em;
  justify-content: space-between;
  padding: 10px;
}

.description__text {
  text-overflow: ellipsis;
  width: 60%;
  text-align: left;
}

.restoname {
  margin: 0px;
}

.restolocation {
  margin: 0;
}

footer {
  padding: 30px;
  background-color: #353535;
  color: #fff;
  text-align: left;
}
footer .foot__logo {
  font-family: "Shrikhand";
  font-size: 1.5em;
}
footer .foot__logo p {
  margin: 0em;
}
footer .foot__logo p a {
  color: white;
}

/*mise en forme des pages des restaurants*/
.backhomepage {
  display: flex;
  align-items: center;
  font-size: 1.3em;
}

.headingresto {
  max-height: 250px;
  margin: 0;
  border: 0;
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  background-color: #f6f6f6;
}

.headingresto__text {
  font-size: 1.2em;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  position: relative;
  top: -30px;
}
.headingresto__text .restotitle {
  font-family: "Shrikhand";
  font-weight: normal;
  vertical-align: center;
}

.meal {
  background-color: #f6f6f6;
  padding: 10px;
  margin: 0;
  border: 0;
}

.textdeco {
  border-bottom: 5px solid #99E2D0;
}

.meal__btn {
  border-radius: 15px;
  padding: 0;
  width: 100%;
  max-height: 100px;
  background-color: #fff;
  border: none;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px #d0d0d0;
  display: flex;
  flex-flow: nowrap row;
  text-align: left;
  justify-content: space-between;
  cursor: pointer;
}
.meal__btn:hover > .btn__animation {
  width: 20%;
  opacity: 1;
}
.meal__btn:hover > .btn__animation > .fa-check-circle {
  transform: rotate(-1turn);
}

.btn__content {
  padding: 20px;
  margin: 0;
  width: 100%;
  line-height: 1.5rem;
}

.btn__title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn__description {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.description__info {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  text-align: left;
}

.description__price {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.btn__animation {
  background-color: #99E2D0;
  color: #fff;
  font-size: 1.2em;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 0%;
  transition: all 1000ms ease-in-out;
}

.fa-check-circle {
  transform: rotate(0turn);
  transition: transform 1000ms;
}

.order {
  padding: 20px;
  text-align: center;
}
.order .order__btn {
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */