@charset "UTF-8";
/*mise en forme page d'accueil*/
header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.heading, .restaurants, .meal__btn, .nav__btn {
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3 {
  margin: 0;
}

body {
  font-family: "roboto", "shrinkand", Arial, sans-serif;
  font-size: medium;
  width: 100%;
  margin: auto;
}

.loading {
  height: 0;
  width: 0;
  background-color: #f6f6f6;
  background-size: cover;
  position: fixed;
  z-index: 2;
  -webkit-animation: loadingposition 2000ms ease-in;
          animation: loadingposition 2000ms ease-in;
}

.loader {
  width: 0;
  height: 0;
  border: solid 20px transparent;
  border-top: solid 20px #9356DC;
  border-right: solid 20px #FF79DA;
  border-left: solid 20px #99E2D0;
  border-radius: 50%;
  position: relative;
  top: 40vh;
  z-index: 3;
  text-align: center;
  margin: auto;
  opacity: 0;
  -webkit-animation: spin 2s ease-in-out;
          animation: spin 2s ease-in-out;
}

@-webkit-keyframes loadingposition {
  0% {
    opacity: 1;
    min-width: 100vw;
    min-height: 100vh;
  }
  98% {
    opacity: 1;
    min-width: 100vw;
    min-height: 100vh;
  }
  100% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }
}

@keyframes loadingposition {
  0% {
    opacity: 1;
    min-width: 100vw;
    min-height: 100vh;
  }
  98% {
    opacity: 1;
    min-width: 100vw;
    min-height: 100vh;
  }
  100% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    height: 100px;
    width: 100px;
  }
  98% {
    transform: rotate(360deg);
    opacity: 1;
    height: 100px;
    width: 100px;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    width: 0;
    height: 0;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    height: 100px;
    width: 100px;
  }
  98% {
    transform: rotate(360deg);
    opacity: 1;
    height: 100px;
    width: 100px;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.headlogo {
  font-family: "Shrikhand";
  font-size: 1.5em;
  text-align: center;
  margin: auto;
  font-weight: normal;
}

.location {
  background-color: #e9e9e9;
  text-align: center;
  margin: auto;
  padding: 10px 0 10px 0;
  font-size: 1.3em;
  font-weight: bold;
}

i {
  padding: 10px;
}

.heading, nav, .restaurants {
  padding: 20px;
}

.heading {
  text-align: center;
  margin: auto;
}

.heading__title {
  font-size: 1.5em;
  padding: 10px;
  font-weight: bold;
}

.heading__description {
  font-size: 1.2rem;
  padding: 10px;
}

.heading__btn, .order .order__btn {
  font-size: 1rem;
  font-weight: bold;
  width: 80%;
  border-radius: 30px;
  border: transparent;
  cursor: pointer;
  background: linear-gradient(to bottom right, #FF79DA, 45%, #9356DC);
  color: #fff;
  box-shadow: 5px 5px 5px #d0d0d0;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0px;
}
ul .list__number {
  background-color: #9356DC;
  border-radius: 50%;
  padding: 5px 10px;
  font-weight: bold;
  color: #fff;
  position: relative;
  left: 15px;
}
ul .nav__btn {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  width: 80%;
  border-radius: 30px;
  border: transparent;
  cursor: pointer;
  box-shadow: 5px 5px 5px #d0d0d0;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 400px;
}
ul .nav__btn i {
  color: #656565;
}
ul .nav__btn:hover {
  background-color: #f2eafb;
  box-shadow: 5px 5px 5px 5px #d0d0d0;
}
ul .nav__btn:hover i {
  color: #9356DC;
}

.restaurants__title {
  padding: 10px;
}

.restaurants__card {
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 1;
  max-height: 300px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px #d0d0d0;
  border-radius: 25px;
}

.card__img {
  width: 100%;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  z-index: 0;
}

.card__new {
  width: 80px;
  text-align: center;
  font-weight: bold;
  background-color: #99E2D0;
  color: #278870;
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 10%;
  right: 5%;
}

.card__description, .headingresto__text {
  color: black;
  display: flex;
  flex-flow: row;
  line-height: 1.5em;
  justify-content: space-between;
  padding: 20px;
}

.description__text {
  text-overflow: ellipsis;
  width: 60%;
  text-align: left;
}

.restoname {
  margin: 0px;
}

.restolocation {
  margin: 0;
}

.fa-heart {
  font-family: "Font Awesome 5 Free";
  opacity: 1;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  padding: 0;
}
.fa-heart:hover::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: linear-gradient(to bottom left, #9356DC, 56%, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  -webkit-animation: favorite 250ms linear;
          animation: favorite 250ms linear;
}

@-webkit-keyframes favorite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes favorite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  padding: 30px;
  background-color: #353535;
  color: #fff;
  text-align: left;
}

.foot__logo {
  font-family: "Shrikhand";
  font-size: 1.5em;
}

.foot__content {
  line-height: 2em;
  padding: 10px;
}
.foot__content i {
  padding-left: 0;
}
.foot__content a {
  color: white;
}

/*mise en forme des pages des restaurants*/
.backhomepage {
  display: flex;
  align-items: center;
  font-size: 1.3em;
}
.backhomepage a {
  color: black;
}

.headingresto {
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  position: relative;
  z-index: 1;
  max-height: 500px;
  border-radius: 0;
  background-color: #f6f6f6;
}
.headingresto .card__img {
  max-height: 350px;
}

.headingresto__text {
  font-size: 1.2em;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  position: relative;
  top: -30px;
}
.headingresto__text .restotitle {
  font-family: "Shrikhand";
  font-size: 2.2rem;
  font-weight: normal;
  vertical-align: center;
}

.meal {
  background-color: #f6f6f6;
  padding: 20px;
  margin: 0;
  border: 0;
}

.textdeco {
  padding-bottom: 10px;
  border-bottom: 5px solid #99E2D0;
}

.category__title {
  padding-bottom: 10px;
}

.meal__category {
  -webkit-animation: fadein ease-in 1500ms forwards;
          animation: fadein ease-in 1500ms forwards;
}

.meal__category:nth-child(2) {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
  opacity: 0;
}

.meal__category:nth-child(2) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  opacity: 0;
}

.meal__category:nth-child(3) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  opacity: 0;
}

.category__title {
  margin-bottom: 20px;
}

.meal__btn {
  border-radius: 15px;
  padding: 0;
  width: 100%;
  max-height: 100px;
  background-color: #fff;
  border: none;
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px #d0d0d0;
  display: flex;
  flex-flow: nowrap row;
  text-align: left;
  justify-content: space-between;
  cursor: pointer;
}
.meal__btn:hover {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal__btn:hover > .btn__animation {
  transition: opacity, width;
  transition-duration: 1s;
  width: 20%;
  opacity: 1;
}
.meal__btn:hover > .btn__animation > .fa-check-circle {
  -webkit-animation: rotate 500ms ease-in forwards;
          animation: rotate 500ms ease-in forwards;
}

.btn__animation {
  background-color: #99E2D0;
  color: #fff;
  font-size: 1.5em;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity, width, 500ms ease-in-out;
  opacity: 0;
  width: 0%;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(-0.9turn);
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-0.9turn);
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.btn__content {
  padding: 20px;
  margin: 0;
  width: 100%;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn__title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn__description {
  display: flex;
  justify-content: space-between;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description__info {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 85%;
  text-align: left;
}

.description__price {
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
}

.order {
  padding: 20px;
  text-align: center;
}
.order .order__btn {
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map *//*# sourceMappingURL=style.css.map */